<div *ngIf="!isLoading">
    <iframe class="full-size" title="Report Section" src="https://app.powerbi.com/view?r=eyJrIjoiODQ5NDhkY2YtNmJjNC00YjI1LTlhZWUtM2UxMmY1ZDc1NzZlIiwidCI6IjE3YTkyM2I0LTZmM2UtNDc2Ny05OGI2LWRmZjE1NzJiNmZiNyJ9" frameborder="0" allowFullScreen="true"></iframe>
</div>

<div class="full-size flex-centered" *ngIf="isLoading">
    <svg width="200" height="200" version="1.1" id="L1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
        <circle fill="#f1700d" stroke="#fff" stroke-width="6" stroke-miterlimit="15" stroke-dasharray="14.2472,14.2472" cx="50" cy="50" r="47" >
          <animateTransform 
             attributeName="transform" 
             attributeType="XML" 
             type="rotate"
             dur="5s" 
             from="0 50 50"
             to="360 50 50" 
             repeatCount="indefinite" />
        </circle>
        <circle fill="none" stroke="#fff" stroke-width="1" stroke-miterlimit="10" stroke-dasharray="10,10" cx="50" cy="50" r="39">
            <animateTransform 
              attributeName="transform" 
              attributeType="XML" 
              type="rotate"
              dur="5s" 
              from="0 50 50"
              to="-360 50 50" 
              repeatCount="indefinite" />
        </circle>
        <g fill="#fff">
        <rect x="30" y="35" width="5" height="30">
          <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5" 
            repeatCount="indefinite" 
            begin="0.1"/>
        </rect>
        <rect x="40" y="35" width="5" height="30" >
          <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5" 
            repeatCount="indefinite" 
            begin="0.2"/>
        </rect>
        <rect x="50" y="35" width="5" height="30" >
          <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5" 
            repeatCount="indefinite" 
            begin="0.3"/>
        </rect>
        <rect x="60" y="35" width="5" height="30" >
          <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5"  
            repeatCount="indefinite" 
            begin="0.4"/>
        </rect>
        <rect x="70" y="35" width="5" height="30" >
          <animateTransform 
            attributeName="transform" 
            dur="1s" 
            type="translate" 
            values="0 5 ; 0 -5; 0 5" 
            repeatCount="indefinite" 
            begin="0.5"/>
        </rect>
        </g>
    </svg>
    <h2 class="institucional-text">Prueba técnica</h2>
</div>