.full-size{
    height: calc(100vh - 43px);
    width: 100vw;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.institucional-text{
    color: #f1700d;
    font-family: Rubik,sans-serif;
    font-size: 40px;
}